
ul {
    list-style-type: none;
}

h1 {
    color: #5cc46f;
}

h2 {
    color: #5cc46f;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.list_item {
    display: flex;
}

.recipe_item {
    width: 50%;
}

.list_title {
    font-weight: 600;
}

.list_content {
    width: fit-content;
    height: fit-content;
}

.search_bar {
    width: 50%;
    margin: 1rem 0;
    height: 1.3rem;
    border-radius: 0.2rem;
}